html{
    box-sizing: border-box;
  }
  body{
    text-align: center;
  }
  form{
    display: inline-block;
    
  }
  footer {
    position: absolute;
    bottom: 0;
    height: 25px;          
    width: 100%;    
    line-height: 25px;
}
